.container {
    background-image: url(../../public/para-qual-lugar-o-universo-esta-se-expandindo-1685829316554_1024\ 1.png);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sol,
.terra, 
.mercurio,
.venus,
.marte,
.jupiter,
.saturno,
.urano,
.netuno {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}